:root {
    background-color: #F5F5F5
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;

}

.flyIn1 {
    animation-name: flyInAnimation;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes flyInAnimation {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.flyIn2 {
    animation-name: flyInAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100%);
}

.flyIn3 {
    animation-name: flyInAnimation3;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes flyInAnimation3 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.headerSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 987px;
    background-image: url("../assets/header.svg");
    background-repeat: no-repeat;
    background-size: cover 100%;
    background-position: center top;
    z-index: -2;
    /*animation: breathingAnimation 30s infinite;*/
}

.headerSvg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/curveHeader.svg");
    background-repeat: no-repeat;
    background-size: contain 100%;
    background-position: left top;
    z-index: -1;
    /*animation: breathingAnimation 10s infinite;*/
}

@keyframes breathingAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.topNavBarParent {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 100;

    transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.topNavBarParent.scrolled {
    background-color: #29208B;
}

.topNavBar {
    position: sticky;
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    transition: background-color 0.6s ease;
}

.appkyLogo {
    max-width: 33px;
    max-height: 33px;
    margin-right: 6px;
}

.navBarTitle {
    font-family: 'Kodchasan';
    font-weight: 700px;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: auto;
    color: #FFFFFF;
}

.navBarItemButton {
    margin-left: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    position: relative;

    transition: transform 0.1s, background-position 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.navBarItem.navBarItemMobile {
    display: block;
}

.navBarItem {
    margin-left: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    position: relative;

    transition: transform 0.1s, background-position 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fillFromLeft {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.navBarItem::after {
    content: "";
    position: absolute;
    bottom: -2px;
    /* Adjust this value to control the distance from the text */
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FDFDFD;
    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.navBarItem:hover::after {
    width: 50%;
    /* Adjust this value to control the length of the underline */
    transition-delay: 0.1s;
    /* Add this line to delay the start of the underline animation */
}


.navBarItem:hover {
    text-decoration: none;
    animation: fillFromLeft 1s forwards cubic-bezier(0.4, 0, 0.2, 1);
    color: #FDFDFD;
}

.menuIcon {
    cursor: pointer;
}

@media (min-width: 697px) {
    .menuIcon {
        display: none;
    }
}

.navContactButton {
    box-sizing: border-box;
    padding: 9px 25.11px 9px 24px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.navContactButton:hover {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #6456C8;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
}

.headerGif {
    background-image: url('../assets/backHeader.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 570px;
    height: 594px;
}

.headerGifSmaller {
    display: none;
    background-image: url('../assets/backHeader.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.headerTitle {
    display: flex;
    flex-direction: column;
}

.headerGifImgSmaller {
    max-width: 412px;
    max-height: 414px;

    transition: transform 0.6s;
}

.headerGifImg {
    max-width: 598px;
    max-height: 600px;

    transition: transform 0.6s;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 478px;
}

.subTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    max-width: 458.61px;
    margin-bottom: 30px;
}

.headerButton {
    padding: 12px 0px 12px 0px;
    background: linear-gradient(to right, transparent 50%, #FFFFFF 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: transform 0.6s, background-position 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 25px;
    width: 205.02px;
    border: none;
    margin-top: 0px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #654ACE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    z-index: 1;
}

@keyframes fillFromLeft {
    to {
        background-position: 0% 0%;
        color: #FFFFFF;
    }
}

.headerButton:hover {
    background-color: #29208B;
    text-decoration: none;
    animation: fillFromLeft 1s forwards cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1092px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 1092px) {
    .headerGif {
        display: none;
    }

}

@media (max-width: 1092px) {
    .headerGifSmaller {
        display: flex;
        max-width: 412px;
        max-height: 414px;
        align-self: center;
    }

}

@media (max-width: 412px) {

    .headerGifImgSmaller,
    .headerGifSmaller {
        display: flex;
        max-width: 312px;
        max-height: 314px;
        align-self: center;
    }

}

@media (max-width: 312px) {

    .headerGifImgSmaller,
    .headerGifSmaller {
        display: flex;
        max-width: 212px;
        max-height: 214px;
        align-self: center;
    }

}

@media (max-width: 1092px) {

    .headerButton,
    .headerTitle {
        align-self: center;
        text-align: center;
    }

}

@media (max-width: 1092px) {
    .headerButton {
        margin-top: 30px;
    }

}

@media (max-width: 697px) {

    .navBarItem,
    .navBarItemButton {
        display: none;
    }

}










.sluzby {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    align-items: center;
    margin-top: 300px;
    justify-content: center;
}

.sluzbyTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: #001331;
    margin-bottom: 20px;
    max-width: 194px;
}

.sluzbyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    width: 100%;
}

.weboveApps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.mobilneApps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.uiuxApps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.uiuxAppsTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #001739;
    max-width: 74px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.uiuxAppsSubTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
    max-width: 247px;
    text-align: center;
    margin: 0;
    margin-top: 7px;
}

.mobilneAppsTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #001739;
    max-width: 209px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.mobilneAppsSubTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
    max-width: 265px;
    text-align: center;
    margin: 0;
    margin-top: 7px;
}

.weboveAppsTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #001739;
    max-width: 204px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.weboveAppsSubTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
    max-width: 251px;
    text-align: center;
    margin: 0;
    margin-top: 7px;
}

.zistiViac {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1681E3;
    max-width: 96px;
    text-align: center;
    margin: 0;
    margin-top: 34px;
}

.beruska:hover {
    text-decoration: none;
    transform: scale(1.1);

    transition: transform 0.6s;
}

@media (max-width: 860px) {
    .sluzbyContainer {
        flex-direction: column;
    }

}

@media (max-width: 860px) {

    .uiuxApps,
    .weboveApps {
        margin: 0 auto;
        margin-top: 90px;
    }

}









.oNas {
    position: relative;
    width: 100%;
    height: 447px;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/oNasBg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    margin-top: 251px;
}

.oNasBg2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/oNasBg2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left bottom;
    z-index: 1;
}

.oNasTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 34.5px;
    color: #FFFFFF;
    max-width: 705px;
    text-align: center;
    margin: 0;
    letter-spacing: 0.69;
    margin-bottom: 30px;
}

.oNasSubTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #EFEFEF;
    max-width: 748px;
    text-align: center;
    margin: 0;
}

.iconEllipseContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1140px;
}

.iconBrandsLogo {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 43px;
}

.iconBrandsLogo:hover {
    transform: scale(1.1);

    transition: transform 0.6s;
}

@media (max-width: 1217px) {
    .iconBrandsLogo {
        margin-right: -10px;
        margin-left: -10px;
        margin-bottom: 43px;
    }
}

@media (max-width: 796px) {
    .iconBrandsLogo {
        margin-right: -20px;
        margin-left: -20px;
        margin-bottom: 43px;
    }
}

@media (max-width: 796px) {
    .iconBrandsLogo {
        display: none;
    }
}

.podmeVyvijat {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 157px;
    text-align: center;
    margin: 0;
    margin-top: 34px;
}









.postup {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    align-items: center;
    margin-top: 100px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 90px;
}

.cardsSmaller {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
}

.cardsMobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    width: 100%;
    height: 100%;
}

.cardsSmaller2 {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.postupTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: #001331;
    margin-bottom: 20px;
    max-width: 315px;
}

.postup2Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.postup2ContainerSmaller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.postup2ContainerMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.postup2Rectangle {
    max-width: 366px;
    height: 322px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px -4px rgba(134, 134, 134, 0.15);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 24px;
}

.postup2SubTitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #001739;
    max-width: 327px;
    text-align: left;
    margin: 0;
    margin-top: 7px;
}

.postup1Container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
}

.postup1ContainerSmaller {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.postup1ContainerMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.postup1Rectangle {
    max-width: 366px;
    height: 322px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px -4px rgba(134, 134, 134, 0.15);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 24px;
}

.postup1RectangleSmaller,
.postup2RectangleSmaller {
    width: 366px;
    height: 322px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px -4px rgba(134, 134, 134, 0.15);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 24px;
}

.postup1RectangleMobile,
.postup2RectangleMobile {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px -4px rgba(134, 134, 134, 0.15);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 24px;
}

.postup1SubTitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #001739;
    max-width: 327px;
    text-align: left;
    margin: 0;
    margin-top: 7px;

}

.postup3Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.postup3Rectangle {
    max-width: 366px;
    height: 322px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px -4px rgba(134, 134, 134, 0.15);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 24px;
}

.postup3SubTitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #001739;
    max-width: 327px;
    text-align: left;
    margin: 0;
    margin-top: 7px;
}

.postupIcon {
    margin-top: 42px;
    margin-bottom: 20px
}

.postupInsideWidth {
    max-width: 327px;
    margin-left: 20px;
}

.postup2Rectangle:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup2Rectangle:hover .postup2SubTitle,
.postup2Rectangle:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup2Rectangle:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

.postup1Rectangle:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup1Rectangle:hover .postup1SubTitle,
.postup1Rectangle:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup1Rectangle:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

.postup3Rectangle:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup3Rectangle:hover .postup3SubTitle,
.postup3Rectangle:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup3Rectangle:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

@media (max-width: 1155px) {

    .cards,
    .cards2 {
        display: none;
    }
}

@media (max-width: 1155px) {

    .cardsSmaller2,
    .cardsSmaller {
        display: flex;
    }
}

@media (max-width: 777px) {

    .cardsSmaller2,
    .cardsSmaller {
        display: none;
    }
}

@media (max-width: 777px) {

    .cardsMobile {
        display: flex;
    }
}

.postup2RectangleSmaller:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup2RectangleSmaller:hover .postup2SubTitle,
.postup2RectangleSmaller:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup2RectangleSmaller:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

.postup1RectangleSmaller:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup1RectangleSmaller:hover .postup1SubTitle,
.postup1RectangleSmaller:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup1RectangleSmaller:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

.postup2RectangleMobile:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup2RectangleMobile:hover .postup2SubTitle,
.postup2RectangleMobile:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup2RectangleMobile:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

.postup1RectangleMobile:hover {
    background-color: #6456C8;
    transition: background-color 0.6s ease;
}

.postup1RectangleMobile:hover .postup1SubTitle,
.postup1RectangleMobile:hover .specialText {
    color: white;
    transition: color 0.6s ease;
}

.postup1RectangleMobile:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.6s ease;
}

.specialText {
    color: #654ACE;
}








.Contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 100px;
}

.ContactMaxWidth {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.ContactTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: #001331;
    margin-bottom: 20px;
    max-width: 630px;
    text-align: center;
}

.formular {
    display: flex;
    flex-direction: row;
    margin-top: 69px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menoemail {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
}

.mobilpomoc {
    display: flex;
    flex-direction: row;
}

.dozvedeli {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.povedztenam {
    display: flex;
    flex-direction: row;
}

.meTitle {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #001739;
    margin-top: 37px;
    max-width: 201px;
    text-align: center;
}

.vyplnovacka {
    margin-left: 64px;
}

.meSubTitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #001739;
    margin-top: 15px;
    max-width: 275px;
    text-align: left;
    font-style: normal;
}

.specialEmailText {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #09A7FE;
    margin-top: 15px;
    max-width: 275px;
    text-align: left;
    font-style: normal;
    text-decoration: underline;
}

.formMeno {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
}

.formEmail {
    display: flex;
    flex-direction: column;
}

.formMobil {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
}

.formHelp {
    display: flex;
    flex-direction: column;
}

.formFrom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.borderBox {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    padding-left: 8px;
}

.borderBoxLarge {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 196px;
    color: black;
    padding-left: 8px;
    vertical-align: top;
}

.labelText {
    margin-bottom: 9px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 23, 57, 0.8);

}

.sendButton {
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.sendButtonStyle {
    padding: 12px 39.92px 12px 40px;
    background: linear-gradient(90deg, #1681E3 0%, #09A7FE 100%);
    border-radius: 25px;

    box-sizing: border-box;
    border: 0px solid #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform-style: preserve-3d;

    cursor: pointer;
}

.sendButtonStyle:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.6s;
}

input {
    width: 271px;
    height: 38px;
    box-sizing: border-box;
    border-width: 1px;
    border-color: #C4C4C4;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    border-right-width: 1px;
    border-right-style: solid;

    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.povedztenam input {
    width: 560px;
    height: 196px;
    box-sizing: border-box;
    border-width: 1px;
    border-color: #C4C4C4;
    vertical-align: top;
    padding-bottom: 150px;


}


@media (max-width: 991px) {
    .formular {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .meSubTitle {
        max-width: 375px;
    }
}

@media (max-width: 991px) {
    .me {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .menoemail {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .povedztenam input,
    input {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .formMeno,
    .formMobil {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .vyplnovacka {
        margin-left: 0;

    }
}











.footerParent {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: #001739;
}

.footerChild {
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

}

.appkyLogoWhite {
    max-width: 33px;
    max-height: 33px;
    margin-right: 6px;
}

.footerCategories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

@media (max-width: 420px) {
    .category {
        display: none;

    }
}

.scrollContainer {
    scroll-behavior: smooth;
}